@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'Mulish', 'sans-serif';
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 1076px) {
  .App {
    padding-left: 20%;
    padding-right: 20%;    
  }
}